# Editors
.idea
.vscode

# dependencies
/coverage
/node_modules
/dist
.project
yarn-error.log
package-lock.json

# OS specific and temporary files
_.*
.sass-cache
.DS_Store
Thumbs.db
.settings
/.gitmodules
.tmp
.idea
OLD*
*.log
.map
